:global(li.firebaseui-list-item:last-child) {
  margin-top: 24px;
  border-top: 1px solid white;
}
:global(li.firebaseui-list-item:last-child button) {
  margin-top: 24px;
  background-color: #9e7c1c !important;
}
